@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --paragraph-font: "Roboto", sans-serif;
    --heading-font: "Fugas One", sans-serif;
    /* END FONTS */

    /* COLORS */
    --primary-color: rgb(11, 146, 146);
    --secondary-color: rgb(0,52,89);
    --accent1-color: rgb(0,49,54);
    --accent2-color: rgb(206,255,255);
    --nav-background-color: #c3e3e7;
    --nav-link-color: rgb(255,105,180);
    --nav-hover-link-color: hsla(0, 0%, 0%, 0.6);
    --nav-hover-background-color: #f5f5f5;
    --background-color: rgba(162, 195, 226, 0.15);
    /* END OF COLORS */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: var(--background-color);
    margin: 0 auto;
}

header {
    display: grid;
    align-items: center;
    margin: 20px auto;
}

header img {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 150px;
    height: 130px;
}

header nav {
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    font-size: 1.25em;
    background-color: steelblue;
}

nav {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p {
    padding: 25px;
}

a {
    text-decoration: none;
}

.container {
    width: 920px;
    height: 217px;
    padding: 8px 8px 8px 8px;
    background: #cdd5df;
    border-radius: 3px 3px 3px 3px; 
}

.container h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.hero div {
    position: relative;
}

div h1, div article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: 650px;
}

article img {
    float: right;
    margin: 20px auto;
}

.history {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.adventure div, .whtwater {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.adventure img {
    width: 150px;
    height: 200px;
}

.adventure h2 {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.maps {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.formContainer {
    font-size: 1.25rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 1.25rem;
}

.issue {
    margin: 20px;
}

.info label {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 2rem;
}

input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

button {
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(35, 167, 35);
    color: white;
    max-width: 600px;
}

textarea {
    font-size: 2rem;
}

.message label {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sbs label {
    margin: 20px;
}

.sbmbtn {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
}

.msgs {
    font-size: 2rem;
    font-weight: 900;
    margin: 20px;
}

.formcont {
    display: flex;
    justify-content: space-between;
}

.indexform {
    max-width: 50%;
    height: 50vh;
}

.hmsg img {
    width: 100%;
    height: 70vh;
}

.hmsg p {
    display: block;
    padding-top: 40px;
    padding-left: 0;
}

.whtwater img {
    width: 30vw;
    height: 40vh;
}

.indexform fieldset, .infocont {
    margin: 20px;
    padding: 20px;
}

.indexform button {
    margin-top: 10px;
}

.infocont {
    width: 45%;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(118, 104, 197);
    color: white;
}

.contactref {
    width: 700px;
    margin: 0 auto;
    height: 100px;
}

#ctat {
    background-color:rgb(25, 117, 53, 0.98);
    color: rgb(255, 255, 255, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: larger;
    max-width: 800px;
    height: 100%;
}

#ctat:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: rgba(255, 255, 255);
    background-color:rgba(25, 117, 53);
}

#cta {
    background-color:rgb(240, 238, 238);
    border-radius: 15px;
    color: rgb(102, 202, 56);
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: larger;
}

.contactref a {
    font-size: 1.5rem;
}

#cta:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 202, 56);   
}

#tripintro {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.tripdscr {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.tripdscr img {
    max-width: 270px;
    height: 300px;
    margin-left: 20px;
}

.dvdln {
    border: 2px solid gray;
    margin-bottom: 5em;
}

.tripdscr figcaption {
    margin-left: 20px;
}

#tripshead {
    padding-left: 0;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.nws {
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5em 0 5em;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover {
    background-color: #ddd;
}

footer {
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px;
}